@charset "UTF-8";

/*accbkC  */
/*심미적 효과 X, 기능을 위한 효과 O */
#items_name {
	display: none;
}


/*----기능을 위한 효과 끝 -------  */

 main {
	min-height: 820px;
	min-width: 1200px;

}

.con {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	
	position: relative;
	background-color: #03A64A20;
	padding: 25px;
   	border-radius: 20px;
}	

.accbkC_btn {
	display:inline-block;
	padding:5px;
	border:0.1em solid #03A64A;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#03A64A;
	text-align:center;
	transition: all 0.2s;
	background-color: #FFFFFF;
}

.accbkC_btn:hover {
	color:#FFFFFF;
	background-color:#03A64A;
}
.accbkC_contnr {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: 2px solid #03A64A;
	border-radius: 20px;
	padding: 50px;
	background-color: white;
	
}

.others_market_name_contnr {
	display: none;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 55px;
	margin-bottom: 5px;
}
.market_name {
	width: 100%;
	height: 25px;
	padding: 0 10px;
	border: 1px solid #E0E0E0;
} 


/* ACCBKR */
.paging_wrap span:hover {
	cursor: pointer;
}


