@charset "UTF-8";

* {
    margin: 0;
    padding: 0
}

.custom_calendar_table td {
    text-align: center;
    height: 40px;
}

.custom_calendar_table thead.cal_date th {
    font-size: 1.5rem;
}

.custom_calendar_table thead.cal_date th button {
    font-size: 1.5rem;
    background: none;
    border: none;
}

.custom_calendar_table thead.cal_week th {
    background-color: #03A64A70;
    color: #fff;
}

.custom_calendar_table tbody td {
    cursor: pointer;
}

.custom_calendar_table tbody td:nth-child(1) {
    color: red;
}

.custom_calendar_table tbody td:nth-child(7) {
    color: #03A64A;
}

.custom_calendar_table tbody td.select_day {
    background-color: #03A64A;
    color: #fff;
}

.custom_calendar_table {
	width: 800px;
	height: 600px;
}

.con {
	display: flex;
	height: auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.accbk_main_summr_contnr {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 600px;
	height: 400px;
}
.card_info_contnr {
	margin-top: 20px;
}

.accbk_cal_btn {
	display: flex;
	width : 60px;
	height: 30px;
	border:1px solid #03A64A;
	border-radius:5px;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#03A64A;
	text-align:center;
	transition: all 0.2s;
	background-color: #FFFFFF;
}
.accbk_cal_btn:hover {
	color:#FFFFFF;
	background-color:#03A64A;
}
